<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Garage Control System</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand">Garage <strong>Control</strong></p>
                <ul>
                    <li><a href="#catalog">Catálogo</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#features">Recursos</a></li>
                    <li><a href="/login"><button>Login</button></a>
                </ul>
            </nav>
            <div class="header-block">
                <div class="text">
                    <h2>O carro perfeito para você!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sunt.

                    </p>
                </div>
                <img src="images/car-header.png" alt="Car">
            </div>
        </div>
    </header>
    <section class="catalog" id="catalog">
        <div class="content">
            <div class="title-wrapper-catalog">
                <p>Procure aqui o seu carro</p>
                <h3>Catálogo</h3>
            </div>
            <div class="filter-card">
                <input type="text" class="search-input" placeholder="Escolha seu modelo favorito">
                <button class="search-button">Escolher</button>
            </div>
            <div class="card-wrapper">
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="images/car-card.png" alt="Car">
                    <div class="card-content">
                        <h3>Audi Supra TT</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.
                        </p>
                        <button type="button">Eu quero esse!</button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="content">
            <div class="title-wrapper-about">
                <p>Saiba mais...</p>
                <h3>Sobre</h3>
            </div>
            <div class="about-content">
                <div class="left">
                    <img src="images/about.png" alt="About" >
                </div>
                <div class="right">
                    <h3>Tenha mais tecnologia e mobilidade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio impedit laudantium culpa soluta consequuntur? 
                        Mollitia neque natus tempora earum dolor cupiditate voluptatibus, 
                        quaerat laudantium explicabo error quod ducimus laborum dolorem,
                        aut quam odit nesciunt, dicta unde alias? Iusto iure omnis repellat 
                        incidunt explicabo cumque amet reprehenderit excepturi rerum ullam
                        cupiditate quia quo molestias totam aliquam, quasi perspiciatis ea est! 
                        Minima facere quis veniam assumenda vel necessitatibus possimus,
                        iure totam deleniti quam aperiam saepe reprehenderit aliquam voluptas minus, 
                        pariatur dolore veritatis nam! Eius placeat pariatur voluptate ducimus a minima
                        blanditiis quae nemo illo eos soluta animi, amet inventore ipsa fuga ratione.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="features" id="features">
        <div class="content">
            <div class="title-wrapper-features">
                <p>O que você pode fazer</p>
                <h3>Recursos</h3>
            </div>
            <div class="feature-card-block">
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
                <div class="feature-card-item">
                    <img src="images/feature-planet.png" alt="Recursos">
                    <div class="feature-text-content">
                        <h3>Título</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, assumenda?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="main">
            <div class="content footer-links">
                <div class="footer-company">
                    <h4>Empresa</h4>
                    <h6>Sobre</h6>
                    <h6>Contato</h6>
                </div>
                <div class="footer-rental">
                    <h4>Alugue</h4>
                    <h6>Teste-Drive</h6>
                    <h6>Motorista</h6>
                    <h6>Ajuda</h6>
                </div>
                <div class="footer-social">
                    <h4>Siga-nos</h4>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/prluciohermano" target="_blanck">
                        		<img src="images/instagram.png" alt="Instagram"></a>
                        <a href="https://www.facebook.com/prluciohermano" target="_blanck">
                        		<img src="images/facebook.png" alt="Facebook"></a>
                    </div>
                </div>
                <div class="footer-contact">
                    <h4>Contate-nos</h4>
                    <h6>+55 62 9 9939-4747</h6>
                    <h6>prluciohermano@gmail.com</h6>
                    <h6>Goiânia - Goiás - Brasil </h6>
                </div>
            </div>
        </div>  
            <div class="last">Desenvolvido por  Lúcio Hermano Batista 2022  -  Análise e Desenvolvimento de Sistemas - UNIGOIÁS</div>
    </footer>
</body>
</html> 