<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- 		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" -->
<!-- 			rel="stylesheet" /> -->
		
<!-- 		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" -->
<!-- 			rel="stylesheet" /> -->
		
<!-- 		<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" -->
<!-- 			rel="stylesheet" /> -->
		
<!-- 		<link th:href="@{./css/estilo.css}" rel="stylesheet" /> -->
</head>
<body>
	<div class="container">
		<div class="content first-content">
			<div class="first-column">
				<h2 class="title title-primary">Bem-vindo!</h2>
				<p class="description description-primary">Se você já é cadastrado,</p>
				<p class="description description-primary">Conecte aqui com suas credenciais</p>
				<button id="signin" class="btn btn-primary">Entrar</button>
			</div>
			<div class="second-column">
				<h2 class="title title-second">criar uma conta</h2>
				<div class="social-media">
					<ul class="list-social-media">
					<a class="link-social-media" href="https://www.facebook.com/prluciohermano" target="_blank">
						<li class="item-social-media">
								<i class="fab fa-facebook-f"></i>
							</li>
					</a>
					<a class="link-social-media" href="https://www.instagram.com/prluciohermano" target="_blank">
						<li class="item-social-media">
							<i class="fab fa-google-plus-g"></i>
							</li>
					</a>
					<a class="link-social-media" href="www.linkedin.com/in/lucio-hermano-batista" target="_blank">	
						<li class="item-social-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					  </a>
					</ul>
				</div> <!-- social media -->
				<p class="descripton description-second">ou use seu e-mail para se cadastrar</p>
				<form class="form" th:action="@{login}" method="post">
					<label class="label-input" for="">
						<i class="far fa-user icon-modif"></i>
						<input type="text" placeholder="Nome">
					</label>
					
					<label class="label-input" for="">
						<i class="far fa-envelope icon-modif"></i>
						<input type="email" placeholder="E-mail">
					</label>
					
					<label class="label-input" for="">
						<i class="fas fa-lock icon-modif"></i>
						<input type="password" placeholder="Password">
					</label>
					
					<button class="btn btn-second">inscrever</button>
				</form>
			</div><!-- second column -->
		</div> <!-- first content -->
		<div class="content second-content">
		<div class="first-column">
				<h2 class="title title-primary">Olá, amigo!</h2>
				<p class="description description-primary">Insira seus dados pessoais</p>
				<p class="description description-primary">e vamos começar juntos!</p>
				<button id="signup" class="btn btn-primary">inscrever</button>
			</div>
			<div class="second-column">
				<h2 class="title title-second">conecte-se as nossas redes!</h2>
				<div class="social-media">
					<ul class="list-social-media">
					<a class="link-social-media" href="https://www.facebook.com/prluciohermano" target="_blank">
						<li class="item-social-media">
								<i class="fab fa-facebook-f"></i>
							</li>
					</a>
					<a class="link-social-media" href="https://www.instagram.com/prluciohermano" target="_blank">
						<li class="item-social-media">
							<i class="fab fa-google-plus-g"></i>
							</li>
					</a>
					<a class="link-social-media" href="www.linkedin.com/in/lucio-hermano-batista" target="_blank">	
						<li class="item-social-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					  </a>
					</ul>
				</div> <!-- social media -->
				<p class="descripton description-second">ou entre com seu usuário e senha</p>
				<div th:if="${param.error}">
					<div class="alert alert-danger">Usuário e/ou inválidos!</div>
				</div>

				<div th:if="${param.logout}">
					<div class="alert alert-info">Até logo!</div>
				</div>
				
				<form class="form" th:action="@{login}" method="post">
					<label class="label-input" for="username">
						<i class="far fa-envelope icon-modif"></i>
						<input type="text" placeholder="seu usuário" name="username" id="username">
					</label>
					<label class="label-input" for="password">
						<i class="fas fa-lock icon-modif"></i>
						<input type="password" placeholder="sua senha" name="password" id="password">
					</label>
						<div class="signuptam">
						<label for="remember-me">Lembrar?</label>
						<input type="checkbox" id="remember-me" name="remember-me" />
						</div>
					<a class="password" href="#">esqueceu sua senha?</a>
					<button name="Logar"  type="submit" class="btn btn-second">Logar</button>
				</form>
			</div><!-- second column -->
		</div><!-- second content -->
	</div>
<script src="./js/app.js"></script>
</body>
</html>